@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";
@import "fontface";
@import "sharrre";
@import "compass/css3/pie";

[data-retina=complete] {
    -webkit-background-size: 100%;
    background-size:100%;
}

@mixin hiddenelement{
	  position: absolute;
	  clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
	  clip: rect(1px, 1px, 1px, 1px);
}
.oculto{
	@include hiddenelement;
}
.ocultaPantalla{
	display: none;
}
/* estilo para el fondo de la web
*/
#fondo, #fondoSVG{
	min-width: 980px;
	pointer-events: none;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
	user-select: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 1035px;
	overflow: hidden;
	position:absolute;
	left:0px%;
	top:0px;
	.capaFondo, .capaSVG{
		width: 1700px;
		height: 1200px;
		position:absolute;
		left:50%;
		top:0px;
		margin-left:-850px;
		z-index:0;

	}
	/* move to body
	#base{
		background: url("../img/background.jpg") top center repeat;
		height: 2000px;
		z-index: -250;
	}
	*/
	#lineasBlancas{
		background: url("../img/lineasBlancas.png") top center no-repeat;
		@include background-size(1700px 1200px);
		z-index: 500;
	}
	#lineasColores{
		background: url("../img/lineasColores.png") top center no-repeat;
		@include background-size(1700px 1200px);
		z-index: -200;
	}
	#logo{
		background: url("../img/logo.png") top center no-repeat;
		@include background-size(1700px 1200px);
		z-index: 600;
	}
}

/* estilo para el banner superior
*/
.imprimir{
	&.ensena{
		top:0px;
	}
	top:-35px;
	@include transition(top .5s ease-in-out 2s);
	z-index:2000;
	position:fixed;
	width:100%;
	height: 35px;
	background: #FAFAFA;
	border-top: 1px solid silver;
	box-shadow: inset 0 1px white, 0 1px 3px rgba(34, 25, 25, 0.4);
	p{
		display: block;
		position: relative;
		width: 980px;
		padding: 0px;
		margin: 0px auto;
		text-align: center;
		line-height: 35px;
		font: 14px/35px 'Open Sans', sans-serif;
		color: #221919;
		text-shadow: 0 1px rgba(255, 255, 255, 1);
		.icon-print{
			@include box-sizing (border-box);
			display: inline-block;
			width:35px;
			height:35px;
			line-height: 35px;
			vertical-align: middle;
			background-image: url(../img/printer.png);
			background-repeat: no-repeat;
			background-size: 17px 17px;
			background-position: 8px 8px;
			margin:0px;
			padding: 5px 5px 5px 5px;
		}
		.print{
			padding: 0px; 
			margin: 0px;
			a:link, a:visited {
				text-decoration: none;
				color: inherit;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
/*
*/
#mc_embed_signup{
	@include clearfix;
	form{
		height:42px;
		margin: 0px;
		padding: 0px;
		input{
			height:42px;
			@include box-sizing (border-box);
			padding: 6px 0px;
			font-family:'roboto_slabregular';
			@include adjust-font-size-to(24px);
			border: none;
			line-height: 1em;
			background: none;
			outline: none;
			position: relative;
			z-index: 1;
			display: block;
		}
		input[type=email]{
			float: left;
			color: #4A4B4F;
			width: 80%;
		}
		input[type=submit]{
			float: right;
			color: #4A4B4F;
			width: 20%;
			text-align: right;
			cursor:hand;
			&:hover{
				color: #F7921E;
			}
		}
	}
}

body{
	margin:0px;
	background: url("../img/background.jpg") top center repeat;
	z-index: -250;
}
a:link, a:visited{
	text-decoration: underline;
	color: inherit;
	&:hover{
		color: black;
	}
}

.contenedor{
	@include clearfix;
	$base-font-size: 16px;
	$base-line-height: 24px;
	@include establish-baseline;
	width:980px;
	margin: 0px auto;
	// @include box-shadow(rgba(0,0,0,0.75) 0px 0px 5px);
	position:relative;
	header{
		height: 270px;
		@include clearfix;
		hgroup{
			text-align: center;
			h1{
				font-family:'roboto_slabregular';
				@include rhythm(1/2, 0, 0, 0, $base-line-height);
				@include adjust-font-size-to(55px);
				font-weight: normal;
				@include hiddenelement;
			}
		}
	}
	section{
		color: #4A4B4F;
		padding-left: 180px;
		padding-right: 180px;
		@include clearfix;
		h2{
			font-family:'roboto_slabregular';
			@include rhythm(0, 0, 0.6, 0, $base-line-height);
			@include adjust-font-size-to(24px, 1.2);
			font-weight: normal;
		}
		p{
			font-family:'Open Sans';
			@include rhythm(0, 0, 0, 0, $base-line-height);
			@include adjust-font-size-to($base-font-size);
			font-weight: normal;
		}
		@include rhythm(0, 0, 0, 2.5, $base-line-height);
	}
	@include rhythm(0, 0, 0, 2, $base-line-height);
	#participa p{
		border-top: 1px #4A4B4F solid ;
		@include rhythm(0, 0.5, 0, 0, $base-line-height);
	}
}
#pie{
	@include clearfix;
	border-style: solid;
	background-color: #F7921E;
	border-width: 3px 0px 0px;
	-moz-border-image: url(../img/dashLine.png) 53 0 0 repeat;
	-webkit-border-image: url(../img/dashLine.png) 53 0 0 repeat;
	-o-border-image: url(../img/dashLine.png) 53 0 0 repeat;
	border-image: url(../img/dashLine.png) 53 0 0 fill repeat;
	min-width: 980px;
	#fondoPie{
		@include clearfix;
		min-width: 980px;
		width: 100%;
		position: absolute;
		z-index: -300;
		height: 260px;
		background-color: #F7921E;
	}
	footer{
		position: relative;
		z-index: 100;
		color: white;
		width: 620px;
		margin: 0px auto 0px auto;
		padding-left: 180px;
		padding-right: 180px;
		@include rhythm(0, 2, 6, 0, $base-line-height);
		p{

			font-family:'Open Sans';
			@include rhythm(0, 0, 0, 1, $base-line-height);
			@include adjust-font-size-to($base-font-size);
			font-weight: normal;
			a:link, a:visited{
				color: white;
				text-decoration: none;
				font-weight:bold;
			}
			a:hover{
				text-decoration: underline;
			}
		}
	}
}


@media print {
	@page  { 
		size:8.5in 11in;
		width: 50%;
		margin: none;  
	}
	.ocultaPantalla{
		display: block;
	}
	#fondo{
		-webkit-print-color-adjust: exact;
		#lineasBlancas{
			background: none;
		}
		#lineasColores{
			background: none;
		}
		#logo{
			background: none;
		}
	}
	.ocultaImprime{
		display: none;
	}
	.muestraImprime{
		display: block;
	}
}