@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";
@import "fontface";
@import "sharrre";
@import "compass/css3/pie";

[data-retina=complete] {
    -webkit-background-size: 100%;
    background-size:100%;
}

@mixin hiddenelement{
	  position: absolute;
	  clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
	  clip: rect(1px, 1px, 1px, 1px);
}
.oculto{
	@include hiddenelement;
}

/* estilo para el fondo de la web
*/
#fondo{
	min-width: 980px;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
	user-select: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 1000px;
	overflow: hidden;
	position:absolute;
	left:0px%;
	top:0px;
	.capaFondo{
		width: 1500px;
		height: 1200px;
		position:absolute;
		left:50%;
		top:0px;
		margin-left:-750px;
		z-index:0;
	}
	#base{
		background: url("/img/base.png") top center no-repeat;
		z-index: -250;
	}
	#lineasBlancas{
		background: url("/img/lineasBlancas.png") top center no-repeat;
		z-index: -50;
	}
	#lineasColores{
		background: url("/img/lineasColores.png") top center no-repeat;
		z-index: -200;
	}
	#logo{
		background: url("/img/logo.png") top center no-repeat;
		z-index: -25;
	}
}

/* estilo para el banner superior
*/
.imprimir{
	&.ensena{
		top:0px;
	}
	top:-35px;
	@include transition(top .5s ease-in-out 2s);
	z-index:1000;
	position:fixed;
	width:100%;
	height: 35px;
	background: #FAFAFA;
	border-top: 1px solid silver;
	box-shadow: inset 0 1px white, 0 1px 3px rgba(34, 25, 25, 0.4);
	p{
		display: block;
		position: relative;
		width: 980px;
		padding: 0px;
		margin: 0px auto;
		text-align: center;
		line-height: 35px;
		font: 14px/35px 'Open Sans', sans-serif;
		color: #221919;
		text-shadow: 0 1px rgba(255, 255, 255, 1);
		.icon-print{
			@include box-sizing (border-box);
			display: inline-block;
			width:35px;
			height:35px;
			line-height: 35px;
			vertical-align: middle;
			background-image: url(/img/printer.png);
			background-repeat: no-repeat;
			background-size: 17px 17px;
			background-position: 8px 8px;
			margin:0px;
			padding: 5px 5px 5px 5px;
		}
		.print{
			padding: 0px; 
			margin: 0px;
			a:hover{
				text-decoration: underline;
			}
		}
	}
}


body{
	margin:0px;
}
a:link, a:visited, a:hover{
	text-decoration: none;
	color: black
}

.contenedor{
	@include clearfix;
	$base-font-size: 16px;
	$base-line-height: 24px;
	@include establish-baseline;
	width:980px;
	margin: 0px auto;
	// @include box-shadow(rgba(0,0,0,0.75) 0px 0px 5px);
	position:relative;
	header{
		height: 270px;
		@include clearfix;
		hgroup{
			text-align: center;
			h1{
				font-family:'RobotoSlab-Light';
				@include rhythm(1/2, 0, 0, 0, $base-line-height);
				@include adjust-font-size-to(55px);
				font-weight: normal;
				@include hiddenelement;
			}
		}
	}
	section{
		color: #4A4B4F;
		padding-left: 180px;
		padding-right: 180px;
		@include clearfix;
		h2{
			font-family:'RobotoSlab-Regular';
			@include rhythm(0, 0, 0, 0, $base-line-height);
			@include adjust-font-size-to(24px);
			font-weight: normal;
		}
		p{
			font-family:'Open Sans';
			@include rhythm(0, 0, 0, 0, $base-line-height);
			@include adjust-font-size-to($base-font-size);
			font-weight: normal;
		}
		@include rhythm(0, 0, 0, 2.5, $base-line-height);
	}
	@include rhythm(0, 0, 0, 2, $base-line-height);
}
#pie{
	border-style: solid;
	border-width: 3px 0px 0px;
	-moz-border-image: url(/img/dashLine.png) 53 0 0 repeat;
	-webkit-border-image: url(/img/dashLine.png) 53 0 0 repeat;
	-o-border-image: url(/img/dashLine.png) 53 0 0 repeat;
	border-image: url(/img/dashLine.png) 53 0 0 fill repeat;
	min-width: 980px;
	#fondoPie{
		width: 100%;
		background-color: #F7921E;
		position: absolute;
		z-index: -100;
		height: 260px;
	}
	footer{
		position: relative;
		z-index: 100;
		color: white;
		width: 620px;
		margin: 0px auto 0px auto;
		padding-left: 180px;
		padding-right: 180px;
		@include rhythm(0, 2, 6, 0, $base-line-height);
		p{

			font-family:'Open Sans';
			@include rhythm(0, 0, 0, 1, $base-line-height);
			@include adjust-font-size-to($base-font-size);
			font-weight: normal;
			a:link, a:visited{
				color: white;
				text-decoration: none;
				font-weight:bold;
			}
			a:hover{
				text-decoration: underline;
			}
		}
	}
}



@media print {
	@page  { 
		size: auto;
		width:100%;
		margin: 5mm 10mm 10mm 10mm;  
	}
	.botonesSociales, footer, .piePagina, .imprimir{
		display: none;
	}
	.ocultaImprime{
		display: none;
	}
	a:link:after, a:visited:after {
	    content: "";
	}
	body  { 
		width:100%;
		@include box-sizing (border-box);
		margin: 0mm 0mm 0mm 0mm;
		padding: 0mm 0mm 0mm 0mm;
		.contenedor{
			header{
				width:100%;
				margin: 0mm 0mm 3mm 0mm;
				padding: 0mm 0mm 0mm 0mm;
				.creditos{
					width:100%;
					margin: 0mm 0mm 5mm 0mm;
					padding: 0mm 0mm 0mm 0mm;
				}
				hgroup{
					width:100%;
					margin: 0mm 0mm 0mm 0mm;
					padding: 0mm 0mm 0mm 0mm;
					h1{
						width:100%;
						margin: 0mm 0mm 0mm 0mm;
						padding: 0mm 0mm 0mm 0mm;
					}
					h2{
						width:100%;
						margin: 0mm 0mm 0mm 0mm;
						padding: 0mm 0mm 0mm 0mm;
					}
				}
			}
			section{
				width:100%;
				margin: 0cm;
				padding: 0cm;
				hgroup{
					margin: 0cm 0cm 0.5cm 0cm;
					padding: 0cm 0cm 0.5cm 0cm;
					border-bottom: 1pt dotted black;
				}
				article{
					width: 100%;
					margin: 1cm 0cm 0.75cm 0cm;
					padding: 0cm 0cm 0.5cm 0cm;
					border-bottom: 1pt dotted silver;
					.imagen-img{
						height:5cm;
						padding: 0.2cm 0cm 0cm 1cm;
						width: 7.5cm;
					}
					.horario{
						@include box-sizing (border-box);
						margin: 0cm;
						padding: 0cm;
						width:50%;
						padding-right: 1cm;
						.inscripcion{
							@include box-sizing (border-box);
							margin: 0cm;
							padding: 0cm;
							width:50%;
							padding-right: 1cm;
						}
					}
					.informacion{
						margin: 0cm;
						padding: 0cm;
						width:50%;
					}
				}
				.notapie{
					font: 16px/22px 'Open Sans', sans-serif;
					.nota_web{
						display: none;
					}
					.nota_impresa{
						display: inline;
					}
				}
			}
		}	
	}
}